@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.profile-widget {
  display: inline-block;
  border: .5px solid gray;
  border-radius: 5px;
  padding: 20px;
  width: 20vh;
}

.profile-img {
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px;
}

.dashboard-list {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.profile-widget {
  display: inline-block;
  border: .5px solid gray;
  border-radius: 5px;
  padding: 20px;
  width: 20vh;
}

.profile-img {
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px;
}

.notification {
    z-index: 100;
    position: absolute;
    right: -100%;
    background: #B413EC;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

.notification a {
  color: white;
  font-weight: 700;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

.slider-item {
  margin: 0 auto;
  width: 90%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
