.filter {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.filter-button {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  font-size: 1.25 rem;
  border-radius: 5px;
}

.level-badge {
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  background-color: #9708CC;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.lesson-form {
  width: 75%;
  margin: 0 auto;
  padding: 30px;
  border: 1px lightgrey solid;
  border-radius: 5px;
  background-color: white;
}

.cardBuilderCard {
  display: inline-block;
  padding: 10px;
  border: 1px lightgrey solid;
  border-radius: 5px;
  background-color: white;
}

.card {
  text-align: center;
  padding: 50px;
  font-size: 2rem;
}

.nextArrow {
  display: inline-block;
  position: absolute;
  right: 10px;
  font-size: 2rem;
}

.prevArrow {
  display: inline-block;
  position: relative;
  left: 10px;
  font-size: 2rem;
}

.deckNav {
  margin-top: 5px;
  padding: 25px 0 25px 0;
  border-top: 1px lightgray solid;
}

.cardBuilderCard {
  display: inline-block;
  padding: 10px;
  border: 1px lightgrey solid;
  border-radius: 5px;
  background-color: white;
}
