.profile-content {
  width: 60%;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  margin-left: -5px;
}

.profile-social {
  font-size: 1.75rem;
  display: flex;
  justify-content: space-evenly;
}

.profile-interests {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: aliceblue;
  color: blue
}

.profile-image {
  position: relative;
  left: 45%;
  top: 5%
}

.profile-edit-link {
  color: black;
  position: relative;
  left: 30%;
  cursor: pointer;
}

.profile-edit-link {
  color: black;
  position: relative;
  left: 30%;
  cursor: pointer;
}

.profile-lessons-courses {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
